<html>
	<body>
		<script src="Knockout.js"></script>
		<script src="AddressModel.js"></script>
		<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css" />
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<button type="succes">Succes</button>
		<button type="button" class="btn btn-primary">Primary</button>

	</body>

</html>





