<html>
	<body>
		<script src="Knockout.js"></script>
		<script src="UserModel.js"></script>

		Register an new account :
		<form data-bind="????????">
			TODO: Databind the form : http://knockoutjs.com/documentation/submit-binding.html
			<p> Username : <input data-bind = "textInput: userNameR" placeholder="Username"/></p>
			<p> First Name : <input data-bind="textInput: firstName" placeholder="First Name" /></p>
			<p> Last Name : <input data-bind = "textInput: lastName" placeholder="Last Name"/></p>
			<p> Email :  <input type="email" data-bind = "textInput: email" placeholder="email@email.com"/></p>
			<p> Birthdate : TODO: input a birthdate</p>
			<p> Password : <input type="password" data-bind = "textInput: passwordR" placeholder="Password"></p>
			<button type="Submit">Register</button>
		</form>

		Login with an existing account :
		<form data-bind="????????">
			TODO: Databind the form : http://knockoutjs.com/documentation/submit-binding.html
			<p> Username : <input data-bind = "textInput: userNameL" placeholder="Username"/></p>
			<p> Password : <input type="password" data-bind = "textInput: passwordL" placeholder="Password"></p>
			<button type="Submit">Login</button>
		</form>

	</body>

</html>





