<html>
	<body>
		<script src="/static/js/Knockout.js"></script>
		<script src="/static/js/UserModel.js"></script>

		<form data-bind="????????">
			TODO: Databind the form : http://knockoutjs.com/documentation/submit-binding.html
			<p> Username : <input data-bind = "textInput: userName"/></p>
			<p> First Name : <input data-bind="textInput: firstName" /></p>
			<p> Last Name : <input data-bind = "textInput: lastName"/></p>
			<p> Email :  <input type="email" data-bind = "textInput: email"/></p>
			<p> Birthdate : TODO: input a birthdate</p>
			<p> Password : <input type="password" data-bind = "textInput: password"></p>


			<button type="Submit">Submit</button>



		</form>




